<nav>
    <div class="site-title">
        <a href="/">
            <h1>ShoesTeen</h1>
        </a>
        <p>! The shoes must go on !</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs/create">Add</a></li>
        <li><a href="/blogs/about">About</a></li>
    </ul>
</nav>