<nav>
    <div class="site-title">
        <a href="/">
            <h1>ShoesTeen</h1>
        </a>
        <p>ShoesTeen New Trends Overcome Your Fashion Today</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs/create">Add</a></li>
        <li><a href="/blogs/aboutus">About Us</a></li>
    </ul>
</nav>