<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="about content">
                <h2>About Us</h2>

                <img src="https://static.thairath.co.th/media/HCtHFA7ele6Q2dUK4J1TdxuyFBs6BwrahUCN5xwvAzgVx8P4hyJWRb5BKyuxwi38Qa.webp" alt="About Us Image" class="about-image">


                <div>

                    <h3>Shoesteen is dedicated to creating shoes that are <strong>comfortable</strong>, <strong>durable</strong>, and <strong>trendy</strong>.</h3>

                    <p>At Shoesteen, we believe that every step should be a joyous experience. That's why we combine cutting-edge technology with innovative design to craft shoes that offer unparalleled comfort and support.</p>


                    <p>Our team of skilled craftsmen and designers work tirelessly to ensure that every pair of shoes we produce meets the highest standards of quality and craftsmanship. From the finest materials to the latest manufacturing techniques, we
                        spare no effort in creating footwear that exceeds your expectations.</p>
                </div>

                <div>

                    <h3>Why Choose Shoesteen?</h3>
                    <ul>
                        <li><strong>Comfort:</strong> Shoesteen utilizes high-quality, breathable materials and applies ergonomic principles in our designs. Whether you're walking, running, playing, or just being active, Shoesteen ensures your feet feel comfortable
                            all day long.</li>

                        <li><strong>Durability:</strong> Shoesteen shoes are crafted with durable materials and undergo a rigorous manufacturing process. This ensures they can withstand the wear and tear of an active teen lifestyle.</li>

                        <li><strong>Style:</strong> Shoesteen stays on top of the latest fashion trends. Our team of experienced designers creates stylish and modern designs that will make you look and feel your best.</li>
                    </ul>
                </div>

                <div style="display: flex; flex-direction: column; align-items: center;">

                    <h3>Shoesteen is more than just footwear; it's your companion on your journey. We provide the confidence you need to take on every step with a sense of style and comfort.</h3>

                    <h3>
                        <blockquote>"The Shoes must go on ..."</blockquote>
                    </h3>

                    <p>Try Shoesteen today!</p>

                    <a href="/blogs" class="cta-button">Shoes Now</a>
                </div>

                <div class="contact-us">
                    <h3>Contact Us</h3>

                    <div id="images">
                        <a href="https://github.com/EarthVai">
                            <img src="/1.png" alt="Contact Icon">
                        </a>

                        <a href="https://github.com/chspchal">
                            <img src="/2.png" alt="Contact Icon2">
                        </a>

                        <a href="https://github.com/Gomdeuki">

                            <img src="/3.png" alt="Contact Icon3">
                        </a>

                        <a href="https://github.com/NonExistedz">
                            <img src="/4.png" alt="Contact Icon4">
                        </a>

                        <a href="https://github.com/Mamarkkk">
                            <img src="/5.png" alt="Contact Icon5">
                        </a>
                    </div>
                </div>

            </div>

            <%- include("./partials/footer.ejs") %>
    </body>

</html>